---
import { Image } from "astro:assets";
import unavailableSecondaryIcon from "../resources/unavailableSecondaryIcon.jpg";
import { Icon } from "astro-icon/components";
---

<div
	id="playerBadge"
	style=`background-repeat: no-repeat; height:96px; margin:10px auto; font-family: 'Neue Haas Grotesk Text Pro','Helvetica', 'Arial', sans-serif; user-select: none; aspect-ratio : 474/96; background-image:url(${unavailableSecondaryIcon.src}); min-width: 0;`>
	<div id="playerBadgeContent" style="height:100%; margin-left: 87px; margin-right: 3px; display: flex;  flex-direction: column;">
		<div style="min-width: 0; max-width: fit-content; user-select: all; padding: 0 10px; margin: 0 -10px;"
			><span id="badgeFullName" title="guardian#-1" style="font-size: 20pt; display: flex; user-select: text;"
				><span id="badgeName" style="color:white;overflow: clip; text-overflow: ellipsis; text-wrap: nowrap; flex-shrink: 1; min-width: 0;"
					>guardian</span
				><span style="color:#58ccff;">#</span><span id="badgeCode" style="color:lightgray;">-1</span
				><!--This span is only to avoid selecting the last element, when triple clicking-->
				<span></span></span
			></div
		>
		<div style="display: flex; height:21px; width: fit-content;">
			<div id="acualBadgeRank" style="display:flex; color: rgba(255,255,255,0.6); ">
				<div style="margin: auto; height:21px; width:21px;">
					<div id="actualRank0" style="display: none">
						<Icon name="rank0" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank1" style="display: none">
						<Icon name="rank1" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank2" style="display: none">
						<Icon name="rank2" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank3" style="display: none">
						<Icon name="rank3" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank4" style="display: none">
						<Icon name="rank4" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank5" style="display: none">
						<Icon name="rank5" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank6" style="display: none">
						<Icon name="rank6" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank7" style="display: none">
						<Icon name="rank7" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank8" style="display: none">
						<Icon name="rank8" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank9" style="display: none">
						<Icon name="rank9" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank10" style="display: none">
						<Icon name="rank10" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="actualRank11" style="display: none">
						<Icon name="rank11" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
				</div>
				<span id="actualBadgeRankText" style="margin: auto; margin-left:2px; font-size: 12pt; letter-spacing: 0.18pt;"></span>
			</div>
			<span id="badgeRankSeparatorCurrent" style="margin: auto 2px; color: rgba(255,255,255,0.6); visibility:collapse">|</span>
			<div id="badgeRank" style="display:flex; color: rgba(255,255,255,0.5); ">
				<div style="margin: auto; height:21px; width:21px;">
					<div id="rank0" style="display: none">
						<Icon name="rank0" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank1" style="display: none">
						<Icon name="rank1" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank2" style="display: none">
						<Icon name="rank2" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank3" style="display: none">
						<Icon name="rank3" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank4" style="display: none">
						<Icon name="rank4" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank5" style="display: none">
						<Icon name="rank5" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank6" style="display: none">
						<Icon name="rank6" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank7" style="display: none">
						<Icon name="rank7" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank8" style="display: none">
						<Icon name="rank8" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank9" style="display: none">
						<Icon name="rank9" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank10" style="display: none">
						<Icon name="rank10" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="rank11" style="display: none">
						<Icon name="rank11" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
				</div>
				<span id="badgeRankText" style="margin: auto; margin-left:2px; font-size: 12pt; letter-spacing: 0.18pt;"></span>
			</div>
			<span id="badgeRankSeparator" style="margin: auto 2px; color: rgba(255,255,255,0.5); visibility:collapse">|</span>
			<div id="highestBadgeRank" style="display:flex; color: rgba(255,255,255,0.4); ">
				<div style="margin: auto; height:21px; width:21px;">
					<div id="highestRank0" style="display: none">
						<Icon name="rank0" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank1" style="display: none">
						<Icon name="rank1" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank2" style="display: none">
						<Icon name="rank2" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank3" style="display: none">
						<Icon name="rank3" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank4" style="display: none">
						<Icon name="rank4" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank5" style="display: none">
						<Icon name="rank5" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank6" style="display: none">
						<Icon name="rank6" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank7" style="display: none">
						<Icon name="rank7" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank8" style="display: none">
						<Icon name="rank8" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank9" style="display: none">
						<Icon name="rank9" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank10" style="display: none">
						<Icon name="rank10" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
					<div id="highestRank11" style="display: none">
						<Icon name="rank11" style="margin: auto;  width: 100%; height: 100%;" />
					</div>
				</div>
				<span id="highestBadgeRankText" style="margin: auto; margin-left:2px; font-size: 12pt; letter-spacing: 0.18pt;"></span>
			</div>
		</div>
		<div id="badgeExtraRank" style="color: white; height:21px; display:flex;width: fit-content;"
			><span id="badgeExtraRankText" style="margin: auto 0px;" title="blueberry rank"></span></div
		>
	</div>
</div>

<script>
	import { CurrentPlayerProfile, GetDestinyInventoryItemDefinitionEntityDefinition } from "../stores/destinyPlayerData";
	import { BASE_BUNGIE_URL } from "../utils/common";
	import { ranksEN } from "../utils/enumStrings";

	// Listen to changes in the store, and show/hide the dialog accordingly
	CurrentPlayerProfile.subscribe((profile, _, changedKey) => {
		if (changedKey === "info") {
			document.getElementById("playerBadge")!.style.backgroundImage = `url(${BASE_BUNGIE_URL}${profile.info.LatestCharacter.emblemBackgroundPath})`;

			document.getElementById("badgeName")!.innerHTML = profile.info.UserCard.bungieGlobalDisplayName;
			document.getElementById("badgeCode")!.innerHTML = `${("000" + profile.info.UserCard.bungieGlobalDisplayNameCode).slice(-4)}`;
			document.getElementById("badgeFullName")!.title =
				`${profile.info.UserCard.bungieGlobalDisplayName}#${("000" + profile.info.UserCard.bungieGlobalDisplayNameCode).slice(-4)}`;

			GetDestinyInventoryItemDefinitionEntityDefinition(profile.info.LatestCharacter.emblemHash).then(
				(r) => (document.getElementById("playerBadge")!.title = r?.displayProperties.name ?? "Unknwon Emblem")
			);
			document.getElementById(`actualRank${profile.info.RenewedGuardianRank}`)!.style.display = "flex";
			document.getElementById("actualBadgeRankText")!.innerHTML = document.getElementById("acualBadgeRank")!.title =
				ranksEN[profile.info.RenewedGuardianRank];
			document.getElementById("badgeRankSeparatorCurrent")!.style.visibility = "visible";

			document.getElementById(`rank${profile.info.CurrentGuardianRank}`)!.style.display = "flex";
			document.getElementById("badgeRankText")!.innerHTML = document.getElementById("badgeRank")!.title = ranksEN[profile.info.CurrentGuardianRank];
			document.getElementById("badgeRankSeparator")!.style.visibility = "visible";

			document.getElementById(`highestRank${profile.info.LifetimeHighestGuardianRank}`)!.style.display = "flex";
			document.getElementById("highestBadgeRankText")!.innerHTML = document.getElementById("highestBadgeRank")!.title =
				ranksEN[profile.info.LifetimeHighestGuardianRank];
		}
	});
</script>
